$bgColor: #f9f9f9;
$brandColor: #1e2d40;
$highlight: #70f7c4;

body {
  background-color: $brandColor;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.header {
  background: $brandColor;
  height: 10vh;
  .logo {
    width: 60px;
    margin: 10px -10px;
  }
  p {
    letter-spacing: 1.2px;
  }
  span {
    font-weight: bolder;
  }
  ul li{
    cursor: pointer;
    font-weight: bolder;
  }
}

.list {
  color: white;
}

.banner {
  height: 90vh;
  background-color: $brandColor;
  background-image: url('../src/assets/snaps/bg.png');
  background-position: center right;
  background-size: 300px;
  background-repeat: no-repeat;
  h1 {
    color: $highlight;
  }
}

.pb-max {
  padding-bottom: 200px;
}

@media screen and (max-width: 700px) {
  .small-devices {
    justify-content: center !important;
    align-items: center !important;
  }
}